body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: var(--background-own);
  text-decoration: none;
}
:root {
  --second-font: font-family: "Raleway", sans-serif;
  --CTAs-norm: color: #4D5AE5;
  --CTAs-activ: color: #404BBF;
  --headings-3: color: #2E2F42;
  --Body-text: color: #434455;
  --background-own: background-color: #ffff;
  

}

.own-header {
  
}
.list {
 list-style: none
}
.link {
  text-decoration: none;
  font-style: normal;
}
.logotype-link {
  font-family:var (--second-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color:var(--headings-3:);
}
.logo-stud,
.logo-stud-foot {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--headings);
}
.logo-stud-foot {
  color: #f4f4fd;
}
.ul-head {
}
.head-link {
  text-decoration: none;
}
.Studio-link {
  color: var(--headings);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.Studio-link:hover,
.Studio-link:focus {
  color: var(--CTAs-activ);
}

.Portfolio-link {
  color: var(--headings);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.Portfolio-link:hover,
.Portfolio-link:focus {
  color: var(--CTAs-activ);
}

.Contacts-link {
  color: var(--headings);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.Contacts-link:hover,
.Contacts-link:focus {
  color: var(--CTAs-activ);
}

.address-head {
}
.ul-address {
}
.addres-link {
  font-style: normal;
}
.own-mail {
  color: var(--Body-text);
  
}
.own-mail:hover,
.own-mail:focus,
.own-mail:active {
  color: var(--CTAs-activ);
}
.own-tel {
  color: var(--CTAs-norm);
 
}
.own-tel:hover,
.own-tel:focus,
.own-mail:active {
  color: var(--CTAs-activ);;
}
.own-main {
}
.hero { 
  background: var(--headings)2;
}
.hero-tit-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-butt {
  color: #ffffff;
  background-color: var(--CTAs-norm);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.hero-butt:hover,
.hero-butt:focus {
  background-color: var(--CTAs-activ);
}
.benef {
}
.ul-benef {
}
.benef-list {
}
.benef-tit-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings);
}
.text-strat {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text)
  font-size: 16px;
 
}
.text-punktual {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
}
.text-dilig {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
}
.text-tehnol {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
}
.opport {
}
.ul-opport {
}
.opport-tit-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings);
}
.opport-list {
}

.we-are {
}
.we-are-tit-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings);
}
.ul-we-are {
}
.we-are-list {
}
.we-are-foto {
}
.we-are-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--headings);
}
.name-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
.own-footer {
  background-color: var(--headings);
}
.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* PAGE-2 */

/* Filtr */
.portfol-list,
.ul-progect,
.ul-address,
.ul-head {
  list-style-type: none;
}
.but-list {
}
/*our prodgect*/
.progect-list {
}
.prodgect-ti-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings);
}
.prodgect-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
}
.but-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--CTAs-norm);
  background: #f4f4fd;
}
.butt {
  color: #ffffff;
  background: var(--CTAs-activ);
}
