body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: var( --background-own);
  text-decoration: none;
}
:root {
  --second-font: "Raleway", sans-serif;
  --ctas-norm:  #4D5AE5;
  --ctas-activ: #404BBF;
  --headings-three: #2E2F42;
  --body-text: #434455;
  --background-own: #FFFFFF;
  --background-light: #F4F4FD;

}

.own-header {
  
}
.list {
 list-style: none
}
.link {
  text-decoration: none;
  font-style: normal;
}
.logotype-link {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var( --ctas-norm);
}
.logo-stud,
.logo-stud-foot {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var( --headings-three);
}
.logo-stud-foot {
 color: var ( --headings-three);
}
.ul-head {
}
.head-link {
  text-decoration: none;
}
.Studio-link {
  color: var (--headings-three);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
   letter-spacing: 0.02em;
}
.Studio-link:hover,
.Studio-link:focus {
  color: #404bbf ;
}

.address-head {
  font-style: normal;
}
.ul-address {
}
.addres-link {
  font-style: normal;
}
.own-mail {
  color: var(--Body-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.own-mail:hover,
.own-mail:focus,
.own-mail:active {
  color: #404bbf;
}

.own-main {
}
.hero { 
  background: var(--headings-three);
}
.hero-tit-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-butt {
  color: #ffffff;
  background-color: #4D5AE5;
   font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer
}
.hero-butt:hover,
.hero-butt:focus {
  background-color: #404BBF;
}
.benef {
}

.benef-list {
}
.benef-tit-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-3);
}
.text-strat {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text)
  
 
}

.opport {
}

.opport-tit-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-3);
}
.opport-list {
}

.we-are {
  background-color: #F4F4FD
}
.we-are-tit-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-3);
}
.ul-we-are {
}
.we-are-list {
  background-color: #FFFFFF
}
.we-are-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em
  color: var(--headings-3);
}
.name-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
}
.own-footer {
  background-color: var(--headings-three);
}
.text-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-light);
}
.logofoot-link {
  font-family:'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--CTAs-norm);

/* PAGE-2 */

/* Filtr */
.portfol-list,
.ul-progect,
.ul-address,
.ul-head {
  list-style-type: none;
}
.but-list {
}
/*our prodgect*/
.progect-list {
}
.prodgect-ti-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings);
}
.prodgect-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Body-text);
}
.but-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--CTAs-norm);
  background: #f4f4fd;
}
.butt {
  color: #ffffff;
  background: var(--CTAs-activ);
}
